[submodule "CEGA"]
	path = CEGA
	url = https://github.com/Rangulo160503/Martes.git
	branch = inclusion
[submodule "HR"]
	path = HR
	url = https://github.com/Rangulo160503/HR-Beneficios.git
	branch = main
[submodule "ITS_Excel/Beneficios"]
	path = ITS_Excel/Beneficios
	url = https://github.com/SC-701/proyecto-grupobraynerpaw.git
	branch = main
[submodule "ITSFinal"]
	path = ITSFinal
	url = https://github.com/Rangulo160503/ITS-CR-Artillery.git
	branch = main
[submodule "ITS-MVC/Inventario"]
	path = ITS-MVC/Inventario
	url = https://github.com/Rangulo160503/ITS-CR-Artillery.git
	branch = main
[submodule "MS/json-server/json-server"]
	url = https://github.com/Rangulo160503/json-server.git
	branch = main
	path = MS/json-server/json-server
